.mark::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 4px;
    inset: 0;
    margin: auto;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);

}