.input+span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    transition: .3s;
    transform: translateX(-50%);
}

/* フォーカス時 */
.input:focus+span,
.under.active {
    /* 11桁の電話番号が有効な場合のスタイル */
    width: 100%;
}