@tailwind base;
@tailwind components;
@tailwind utilities;
/* import 'primereact/resources/themes/saga-blue/theme.css'; // テーマ */
/* import 'primereact/resources/primereact.min.css'; // プライマリCSS */
/* import 'primeicons/primeicons.css'; // アイコン */

:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  width: 428px;
  max-width: 428px;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
  color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.p-dropdown-items-wrapper {
  max-height: 30rem !important;
}

.p-dropdown-label.p-inputtext {
  color: #fff !important;
}