/* .wrap {
    background: #fff;
    position: absolute;
    bottom: 0;
    height: 40vh;
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.wrap::before {
    content: '';
    position: absolute;
    width: 38px;
    height: 4px;
    background: #bbb;
    left: 0;
    right: 0;
    margin: auto;
    top: 4px;
} */